<div class= "quote marquee">
  <p> <%= @quotes.sample.quote %> </p>
</div>

<div class= "quote marquee">
  <p> <%= @quotes.sample.quote %> </p>
</div>

<div class= "quote marquee">
  <p> <%= @quotes.sample.quote %> </p>
</div>


<div class= "quote marquee">
  <p> <%= @quotes.sample.quote %> </p>
</div>


<div class= "quote marquee">
  <p> <%= @quotes.sample.quote %> </p>
</div>
